@model StairEstate.Entity.sales_customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>sales_customer</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.hr_employee.emp_code)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.hr_employee.emp_code)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.hr_profession.profession_name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.hr_profession.profession_name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.sales_collector.collector_code)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.sales_collector.collector_code)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.customer_code)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.customer_code)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.customer_name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.customer_name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.customer_phone)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.customer_phone)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.customer_father_or_husband_name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.customer_father_or_husband_name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.customer_mother_name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.customer_mother_name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.customer_permanent_address)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.customer_permanent_address)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.customer_present_address)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.customer_present_address)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.customer_dob)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.customer_dob)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.customer_birth_place)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.customer_birth_place)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.customer_branch_id)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.customer_branch_id)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.customer_image)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.customer_image)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.deleted)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.deleted)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</body>
</html>
