@model StairEstate.Entity.proj_road

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>proj_road</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.proj_block.Block_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.proj_block.Block_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prop_unit.Unit_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prop_unit.Unit_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Road_no)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Road_no)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Road_size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Road_size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deleted)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
