@model StairEstate.Entity.sys_mouza

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>sys_mouza</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.sys_thana.Thana_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sys_thana.Thana_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mouza_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mouza_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Mouza_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
