@model StairEstate.Entity.proj_project

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}
<div class="parentDiv panel navbar navbar-fixed">
    <div class="head form-inline panel-heading" style="color: black">
        <h2>Create a new Project</h2>
    </div>
    @using (Html.BeginForm("Create", "Projects", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <br />
        <br />

        @Html.AntiForgeryToken()



        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">

            @*First Column*@
            <div class="form-horizontal col-sm-5">
                <div class="form-group">
                    <label class="control-label col-md-5" style="text-align: left">Project Id</label>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.project_id, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.project_id, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-5" style="text-align: left">Project Initial</label>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.project_initial, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.project_initial, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-5" style="text-align: left">Project Type</label>
                    <div class="col-md-7">
                        @Html.DropDownList("project_type_id", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.project_type_id, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-5" style="text-align: left">Project Name</label>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.project_name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.project_name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-5" style="text-align: left">Project Address</label>
                    <div class="col-md-7">
                        <textarea id="project_address" name="project_address" class="form-control"></textarea>
                        @Html.ValidationMessageFor(model => model.project_address, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-5" style="text-align: left">Project Status</label>
                    <div class="col-md-7">
                        @Html.DropDownList("project_status", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.project_status, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-5" style="text-align: left">Project Serial</label>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.project_serial, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.project_serial, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-5" style="text-align: left">Project Manager</label>
                    <div class="col-md-7">
                        <datalist id="sp">
                            @{
                                foreach (var sp in ViewBag.SP)
                                {
                                    <option value="@sp.emp_code">
                                        @sp.emp_code
                                    </option>
                                }
                            }
                        </datalist>
                        <input list="sp" name="manager" class="form-control" required="">
                    </div>
                </div>

            </div>
            <div class="col-sm-1"></div>
            @*Second Column*@
            <div class="form-horizontal col-sm-5">
                <div class="form-group">
                    <label class="control-label col-md-5" style="text-align: left">Start Date</label>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.project_start_date, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.project_start_date, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-5" style="text-align: left">End Date</label>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.project_end_date, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.project_end_date, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-5" style="text-align: left">Handover Date</label>
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.project_actual_handover_date, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.project_actual_handover_date, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-5" style="text-align: left">Image</label>
                    <div class="col-md-7">
                        <img id="imgpreview" src="" style="border-width: 1px; visibility: hidden;" />
                        <input type="file" name="imageFile" class="" onchange="showpreview(this);" />
                    </div>
                </div>
            </div>
        </div>


        <br />
        <div class="row">
            <div class="col-sm-1 col-sm-offset-5">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-sm btn-small btn-default return" })
    </div>
</div>

<script>
    function showpreview(input) {

        if (input.files && input.files[0]) {

            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imgpreview').css('visibility', 'visible');
                $('#imgpreview').attr('src', e.target.result);
                $('#imgpreview').attr('height', "200");
                $('#imgpreview').attr('width', "200");
            }
            reader.readAsDataURL(input.files[0]);
        }

    }

    $(function () {
        $("#project_start_date").datepicker();
        $("#project_end_date").datepicker();
        $("#project_actual_handover_date").datepicker();
    });

    $.get("/projects/GetProjId", function (data, status) {
        $('#project_id').val(data);
        $('#project_id').attr('readonly', "");
    });

    $.get("/projects/GetProjSerial", function (data, status) {
        $('#project_serial').val(data);
        $('#project_serial').attr('readonly', "");
    });

</script>